@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    /*  Primary Colors  */
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-red: hsl(0, 66%, 54%);

    /*  Neutral Colors  */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);

    /*  Typography */
    --font-family-base: 'Karla', sans-serif;
    --font-size-label: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: var(--clr-green-200);
}

.container {
    width: 95%;
    max-width: 375px;
    margin: 0 auto;
    background-color: var(--clr-white);
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a {
    display: inline;
}

img,
video,
iframe,
picture,
figure {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    margin: 0 0 2rem 0;
}

form,
input,
select,
textarea,
button,
label {
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;

}

textarea {
  width: 100%;
  max-width: 100%;      
  min-width: 100%;     
  resize: none; 
}

/* --------------------------------------------------- */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


