@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    /*  Primary Colors  */
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-green-900: hsl(169, 82%, 18%);
    --clr-red: hsl(0, 66%, 54%);

    /*  Neutral Colors  */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);

    /*  Typography */
    --font-family-base: 'Karla', sans-serif;
    --font-size-label: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: var(--clr-green-200);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.container {
    width: 95%;
    max-width: 375px;
    margin: 0 auto;
    background-color: var(--clr-white);
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a {
    display: inline;
}

img,
video,
iframe,
picture,
figure {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3 {
    margin: 0 0 2rem 0;
}

form,
input,
select,
textarea,
button,
label {
    font-family: inherit;
    font-size: inherit;
    display: block;
    color: inherit;
    border: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: none;
}

/* --------------------------------------------------- */

.form-container {
    margin: 3rem auto;
    padding: 1.2rem 2rem;
    border-radius: 15px;
}

.header__title {
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
}

.form__group {
    margin: 1.8rem 0;
}

.form__label {
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

.label__symbol {
    color: var(--clr-green-600);
}

.form__input {
    width: 100%;
    height: 4.5rem;
    padding: 0 1rem;
    border-radius: 10px;
    transition: .3s ease all;
}

.form__input,
.form__text-area,
.form__input-radio {
    outline: none;
    border: 1.5px solid var(--clr-grey-900);
}

.form__group-input-radio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.group-input-radio {
    border-radius: 10px;
    border: 1.5px solid var(--clr-grey-900);
    padding: 1.3rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.form__input-radio {
    width: 2rem;
    height: 2rem;
    accent-color: var(--clr-green-600);
}

.group-input-radio:has(input[type="radio"]:checked) {
  background-color: var(--clr-green-200);
  border-color: var(--clr-green-600);
}

.form__label .form__label-radio {
    margin-bottom: 0;
}

.form__label-radio {
    width: 100%;
}

.form__input:hover {
    border: 1.5px solid var(--clr-green-600);
}

.form_input:focus,
.form__text-area:focus {
    outline: none;
    border: 1.5px solid var(--clr-green-600);
}

.form_input:active,
.form__text-area:active {
    outline: none;
    border: 1.5px solid var(--clr-green-600);
}

.form__input-error {
    display: none;
    margin-top: 1rem;
    color: var(--clr-red);
    font-weight: var(--font-weight-regular);
}

.form__input-error-active {
    display: block;
}

.form__text-area {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.form__label-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form__checkbox {
    width: 2.2rem;
    height: 2.2rem;
    accent-color: var(--clr-green-600);
}

.form__checkbox-label {
    padding: 0 2rem;
}

.form__btn {
    width: 100%;
    height: 5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--clr-green-600);
    font-weight: var(--font-weight-bold);
    font-size: 1.7rem;
    color: var(--clr-white);
    transition: .1s ease all;
}

.form__btn:hover {
    background-color: var(--clr-green-900);
}

/* Error State */

.form__group--incorrect .form__input,
.form__group--incorrect .form__text-area {
    border: 1.5px solid var(--clr-red);
}

.form__group--incorrect .form__input-error {
    display: block;
}

/* Responsive */


@media (min-width: 768px){
    
    .container {
        max-width: 1200px;
    }

    .grid-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form__group--email,
    .form__group--radio,
    .form__group--message,
    .form__group--consent,
    .form__group-btn {
        grid-column: 1 / 3;
    }

    .radio-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .radio-grid:nth-child(1) {
        grid-column: 1 / 2;
    }

    .radio-grid:nth-child(2) {
        grid-column: 2 / 3;
    }

}












.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}